<h2>{{ section.settings.header_text }}</h2>
<p>{{ section.settings.content_text }}</p>
<button>{{ section.settings.button_text }}</button>


{% schema %}
  {
    "name": "my-rich-text",
    "tag": "section",
    "class": "my-rich-text",
    "settings": [
      {
        "type": "select",
        "id": "desktop_content_pos",
        "label": "Desktop content position",
        "info": "Position is automatically optimized for mobile.",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Content alignment",
        "info": "Position is automatically optimized for mobile.",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme_1",
        "label": "Color scheme"
      },
      {
        "type": "checkbox",
        "id": "section_width",
        "label": "Make section full width",
        "default": true
      }, {
        "type": "range",
        "id": "top_padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Top padding",
        "default": 52
      }, {
        "type": "range",
        "id": "bottom_padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Bottom padding",
        "default": 52
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Promotion",
        "settings": [
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "options": [
              {
                "value": "2rem",
                "label": "Small"
              },
              {
                "value": "3rem",
                "label": "Medium"
              },
              {
                "value": "4rem",
                "label": "Large"
              },
              {
                "value": "5rem",
                "label": "Extra large"
              }, {
                "value": "6rem",
                "label": "Extra extra large"
              }
            ],
            "default": "3rem"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich text"
      }
    ]
  }
{% endschema %}