<p>{{ section.settings.title }}</p>

{% schema %}
  {
    "name": "promotions-group",
    "tag": "section",
    "class": "my-wrapper",
    "settings": [
      {
        "type": "text",
        "label": "title",
        "id": "title",
        "default": "default title"
      }
    ],
    "presets": [
      {
        "name": "Promotions Group"
      }
    ]
  }
{% endschema %}