<p style="text-align: {{section.settings.alignment}};">{{ section.settings.title }}</p>

{% schema %}
{
"name": "promotions-group",
"tag": "section",
"class": "my-wrapper",
"settings": [
{
"type": "text",
"label": "title",
"id": "title",
"default": "default title"
},
{
"type": "text_alignment",
"id": "alignment",
"label": "Text alignment",
"default": "center"
}
],
"blocks": [
{
"type": "promotion",
"name": "Promotion",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
},
{
"type": "image_picker",
"id": "image_with_text_image",
"label": "Image"
}
]
}
],
"presets": [
{
"name": "Promotions Group"
}
]
}
{% endschema %}