<p style="text-align: {{section.settings.text_alignment}};">{{ section.settings.title }}</p>

{% schema %}
{
"name": "promotions-group",
"tag": "section",
"class": "my-wrapper",
"settings": [
{
"type": "text",
"label": "title",
"id": "title",
"default": "default title"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text alignment",
"options": [
{
"value": "left",
"label": "Left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "right",
"label": "Right"
}
],
"default": "center"
}
],
"presets": [
{
"name": "Promotions Group"
}
]
}
{% endschema %}